@model object

@{
    ViewBag.Title = "Companies";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css" />
}


@section Scripts {
    <script src="~/js/companies/companies-list.js" asp-append-version="true"></script>
}

<div v-cloak class="company-edit-page">

</div>
