@model object

@{
    ViewBag.Title = "Companies";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css" />
}


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.dependencyLib.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-inputmask@0.2.1/dist/vue-inputmask-browser.js"></script>


    <script src="~/js/companies/edit-company.js" asp-append-version="true"></script>
}

<div v-cloak class="company-edit-page">
    <div v-bind:html="errorsView" class="errors-holder"></div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a v-bind:class="{ 'active': currentTab === 'main' }" v-on:click="currentTab = 'main'" class="nav-link" href="javascript:;">
                <strong>{{ entity.Name || 'Данные о компании' }}</strong>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" v-bind:class="{ 'active': currentTab === 'costings' }" v-on:click="currentTab = 'costings'" href="javascript:;">
                <strong>Сметы</strong>
            </a>
        </li>
    </ul>

    <div v-show="currentTab === 'main'" class="main-tab">
        <h2>
            <span class="pb-2"></span>
            <span v-on:click="save" class="btn btn-success float-right ml-2 btn-sm">Сохранить</span>
            <a href="/Companies/" class="btn btn-info float-right btn-sm">Отмена</a>
        </h2>

        <div class="current-page-content">
            <div>
                <div class="form-group row">
                    <label class="col-sm-1 ">Название</label>
                    <div class="col-sm-3">
                        <input type="text" v-model="entity.Name" class="form-control form-control-sm" placeholder="Краткое название фирмы">
                    </div>
                    <label class="col-sm-1 text-right">Сайты</label>
                    <div class="col-sm-3">
                        <input type="text" v-model="entity.WebSites" class="form-control form-control-sm" placeholder="Список сайтов через разделитель">
                    </div>
                    <label class="col-sm-1 text-right">Статус</label>
                    <div class="col-sm-3">
                        <select v-model="entity.StateId" class="form-control  form-control-sm">
                            <option value="0">Черновик</option>
                            <option value="1">В процессе</option>
                            <option value="2">Успех</option>
                            <option value="3">Отказ</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-1">Деятельность</label>
                    <div class="col-sm-11">
                        <input type="text" v-model="entity.ActivityType" class="form-control form-control-sm" placeholder="Описание рода деятельности">
                    </div>
                </div>

                <div class="">
                    <div class="">
                        <textarea class="form-control form-control-sm" v-model="entity.Remarks" rows="3" placeholder="Текст примечания"></textarea>
                    </div>
                </div>
                <div class="mt-1 text-center">
                </div>
            </div>
            <div v-if="entity.Id > 0">
                <div class="row">
                    <div class="col mt-2">
                        <div class="phone-holder">
                            <div class="phones-list">
                                <select v-bind:disabled="entity.Phones.length === 0" v-model="selectedPhoneId" class="form-control form-control-sm">
                                    <option v-for="phone in entity.Phones" v-bind:value="phone.Id">{{ phone.Number }} - {{ phone.Remarks }}</option>
                                </select>
                            </div>
                            <div class="phoens-management">
                                <span v-bind:class="{ 'disabled' : entity.Phones.length === 0 }" v-on:click="editPhone" class="btn btn-success btn-sm">
                                    <i class="fas fa-edit"></i>
                                    Редактировать
                                </span>
                                <span v-on:click="addPhone" class="btn btn-secondary ml-2 btn-sm">
                                    <i class="fas fa-plus-circle"></i>
                                    Добавить
                                </span>
                                <span v-on:click="removePhone" v-bind:class="{ 'disabled' : entity.Phones.length === 0 }" class="btn btn-secondary ml-2 btn-sm">
                                    <i class="fas fa-times"></i>
                                    Удалить
                                </span>
                                <span v-bind:class="{ 'disabled' : !callDescription || !selectedPhoneId }" v-on:click="saveRecord" class="btn btn-danger ml-2 btn-sm">
                                    <i class="fas fa-save"></i>
                                    Сохранить запись
                                </span>
                            </div>
                        </div>
                        <div>
                            <textarea placeholder="Описание звонка" v-model="callDescription" v-on:keyup.ctrl.enter="saveRecord" rows="2" class="form-control mt-3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <table class="records-table table table-bordered table-hover table-sm table-striped">
                            <tbody>
                                <tr v-for="record in entity.Records">
                                    <td class="call-content">{{ record.Content }}</td>
                                    <td class="phone">{{ record.Phone }}</td>
                                    <td class="date">{{ record.DateCreate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-show="currentTab === 'costings'" class="costings-tab">
        <div class="d-flex">
            <div class="dropdown mt-2">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Добавить смету из шаблона
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:;">Интернет магазин MIN</a>
                    <a class="dropdown-item" href="javascript:;">Сайт визитка</a>
                    <a class="dropdown-item" href="javascript:;">Корпоративный сайт</a>
                </div>
            </div>
            <span class="btn btn-primary btn-sm ml-2 mt-2">Добавить пустую смету</span>
        </div>
        <div>
            <div class="card mt-2">
                <div class="card-header d-flex">
                    <div class="quote-header-wrapper pl-2 mr-2 d-flex">
                        <i class="fas fa-angle-down mt-1"></i>
                        <span class="quote-header ml-2">
                            <input type="text" value="Интернет магазин и лендинг" class="form-control-xs form-control" />
                        </span>
                    </div>
                    <span class="badge badge-info mr-2 date-changed-info">изм: 10 янв 19</span>
                    <span class="btn btn-danger btn-xs float-right"><i class="fas fa-times"></i></span>
                </div>
                <div class="card-body">
                    <div class="costing-templates-page">
                        <table class="table-xs table table-bordered table-hover table-striped mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="id">#</th>
                                    <th class="category">Категория</th>
                                    <th>Название</th>
                                    <th class="qty">Кол.</th>
                                    <th class="unit">Юнит</th>
                                    <th class="cost">Цена</th>
                                    <th class="total">Всего</th>
                                    <th class="multiplier">Множ.</th>
                                    <th class="multiplier">Мн. Всего</th>
                                    <th class="actions">
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div v-show="visible" class="edit-phone-modal" v-cloak>
    <div class="modal" tabindex="-1" style="display: inline-block !important" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ entity.Id == 0 ? 'Редактирование' : 'Добавление' }} телефона</h5>
                    <button type="button" v-on:click="close" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div>
                            <input type="text" class="form-control phone-input" v-model="entity.Number" v-on:keyup="maskCheck"
                                   v-mask="'9 (999) 999-99-99'" v-on:keyup.enter="save" placeholder="телефон" />
                        </div>
                        <div v-if="hasDuplicates" class="alert alert-danger mt-2">
                            <div><strong>Найден дубликат</strong></div>
                            <div><a href="#" target="_blank"><em>{{ duplicate.company }}</em></a></div>
                        </div>
                    </div>
                    <div>
                        <div><input type="text" class="form-control" v-model="entity.Remarks" v-on:keyup.enter="save" placeholder="Описание" /></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" v-on:click="save" v-bind:class="{ 'disabled': !isReadyForSave }" class="btn btn-danger">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
