@model object

@{
    ViewBag.Title = "Companies";
    Layout = "_Layout";
}

@section Styles {
}


@section Scripts {
    <script src="~/js/companies/companies-list.js" asp-append-version="true"></script>
}

<div class="companies-list-page">

    <table class="table table-bordered table-sm table-hover">
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
