@model object

@{
    ViewBag.Title = "Companies";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css" />
}


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js"></script>
    <script src="~/js/companies/companies-list.js" asp-append-version="true"></script>
}

<div v-cloak class="companies-list-page">

    <div class="info-line">
        <div class="row mb-2">
            <div class="col-md-6 ">
                <div>
                    <strong>Список компаний &nbsp;&nbsp;</strong>
                    <em>Отфильтровано {{ filteredRecords }} из {{ totalRecords }}, отображено  {{ items.length }}</em>
                    &nbsp;
                    &nbsp;
                    <span v-if="isLoading">
                        <i class="fas fa-sync fa-spin"></i> Загрузка
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <span class="btn btn-primary btn-sm float-right">
                    <i class="fas fa-plus"></i>
                    Добавить
                </span>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-sm table-hover header-table results-table">
        <thead class="thead-light">
            <tr>
                <th v-bind:class="{ 'order-column': !!config.columns.Id.sorting }" class="Id">
                    <input type="number" placeholder="Id" v-model="config.columns.Id.filter" class="form-control form-control-sm" />
                </th>
                <th v-bind:class="{ 'order-column': !!config.columns.Name.sorting }">
                    <input type="text" placeholder="Название" v-model="config.columns.Name.filter" class="form-control form-control-sm " />
                </th>
                <th v-bind:class="{ 'order-column': !!config.columns.ActivityType.sorting }">
                    <input type="text" placeholder="Деятельность" v-model="config.columns.ActivityType.filter" class="form-control form-control-sm" />
                </th>
                <th>
                    <input type="text" placeholder="Сайты" v-model="config.columns.WebSites.filter" class="form-control form-control-sm" />
                </th>
                <th v-bind:class="{ 'order-column': !!config.columns.Remarks.sorting }">
                    <input type="text" placeholder="Примечание" v-model="config.columns.Remarks.filter" class="form-control form-control-sm" />
                </th>
                <th>
                    <input type="text" placeholder="Телефоны" v-model="config.columns.PhoneNumbers.filter" class="form-control form-control-sm" />
                </th>
                <th v-bind:class="{ 'order-column': !!config.columns.StateId.sorting }">
                    <select v-model="config.columns.StateId.filter" class="form-control form-control-sm">
                        <option value="">Любой</option>
                        <option value="1">В процессе</option>
                        <option value="2">Успех</option>
                        <option value="3">Отказ</option>
                    </select>
                </th>
                <th v-bind:class="{ 'order-column': !!config.columns.LastCallRecordDate.sorting }">
                    <div class="phones-wrapper">
                        <input v-model="config.columns.LastCallRecordDate.filterFrom" type="text" placeholder="C" class="form-control form-control-sm from-date" />
                        <input v-model="config.columns.LastCallRecordDate.filterTo" type="text" placeholder="По" class="form-control form-control-sm to-date" />
                    </div>
                </th>
                <th class="text-right actions-col">
                    <div class="buttons-actions-container">
                        <span v-on:click="clearSearch()" class="btn btn-danger btn-sm">
                            <i class="fas fa-undo"></i>
                        </span>
                        <span v-on:click="doSearch" class="btn btn-success btn-sm">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </th>
            </tr>
            <tr>
                <th v-on:click="applySorting(config.columns.Id)"
                    v-bind:class="{ 'order-column': !!config.columns.Id.sorting, 'asc' : config.columns.Id.sorting == 'asc',  'desc' : config.columns.Id.sorting == 'desc'   }" class="Id sorting-th">
                    #
                    <i class="fas fa-sort-up sort-arrow"></i>
                    <i class="fas fa-sort-down sort-arrow"></i>
                </th>
                <th v-on:click="applySorting(config.columns.Name)"
                    v-bind:class="{ 'order-column': !!config.columns.Name.sorting, 'asc' : config.columns.Name.sorting == 'asc',  'desc' : config.columns.Name.sorting == 'desc'  }"
                    class="sorting-th">
                    Название
                    <i class="fas fa-sort-up sort-arrow"></i>
                    <i class="fas fa-sort-down sort-arrow"></i>
                </th>
                <th v-on:click="applySorting(config.columns.ActivityType)"
                    v-bind:class="{ 'order-column': !!config.columns.ActivityType.sorting, 'asc' : config.columns.ActivityType.sorting == 'asc',  'desc' : config.columns.ActivityType.sorting == 'desc'   }" class="sorting-th">
                    Деятельность
                    <i class="fas fa-sort-up sort-arrow"></i>
                    <i class="fas fa-sort-down sort-arrow"></i>
                </th>
                <th>
                    Сайты
                </th>
                <th v-on:click="applySorting(config.columns.Remarks)"
                    v-bind:class="{ 'order-column': !!config.columns.Remarks.sorting, 'asc' : config.columns.Remarks.sorting == 'asc',  'desc' : config.columns.Remarks.sorting == 'desc'   }" class="sorting-th">
                    Примечание
                    <i class="fas fa-sort-up sort-arrow"></i>
                    <i class="fas fa-sort-down sort-arrow"></i>
                </th>
                <th>
                    Телефоны
                </th>
                <th v-on:click="applySorting(config.columns.StateId)"
                    v-bind:class="{ 'order-column': !!config.columns.StateId.sorting, 'asc' : config.columns.StateId.sorting == 'asc',  'desc' : config.columns.StateId.sorting == 'desc'   }" class="sorting-th">
                    Статус
                    <i class="fas fa-sort-up sort-arrow"></i>
                    <i class="fas fa-sort-down sort-arrow"></i>
                </th>
                <th v-on:click="applySorting(config.columns.LastCallRecordDate)"
                    v-bind:class="{ 'order-column': !!config.columns.LastCallRecordDate.sorting, 'asc' : config.columns.LastCallRecordDate.sorting == 'asc',  'desc' : config.columns.LastCallRecordDate.sorting == 'desc'   }" class="sorting-th">
                    Последняя запись
                    <i class="fas fa-sort-up sort-arrow"></i>
                    <i class="fas fa-sort-down sort-arrow"></i>
                </th>
                <th class="actions-col">
                    Действия
                </th>
            </tr>
        </thead>
    </table>
    <div v-if="items.length > 0" class="overflow-wrapper">
        <table class="table table-bordered table-sm table-hover body-table results-table table-striped">
            <tbody>
                <tr v-for="item in items" class="data-tr">
                    <td v-bind:class="{ 'order-column': !!config.columns.Id.sorting }" class="Id">{{ item.Id }}</td>
                    <td v-bind:class="{ 'order-column': !!config.columns.Name.sorting }">{{ item.Name }}</td>
                    <td v-bind:class="{ 'order-column': !!config.columns.ActivityType.sorting }">{{ item.ActivityType }}</td>
                    <td>{{ item.WebSites }}</td>
                    <td v-bind:class="{ 'order-column': !!config.columns.Remarks.sorting }">{{ item.Remarks }}</td>
                    <td>{{ item.PhoneNumbersList }}</td>
                    <td v-bind:class="{ 'order-column': !!config.columns.StateId.sorting }">{{ item.State }}</td>
                    <td v-bind:class="{ 'order-column': !!config.columns.LastCallRecordDate.sorting }">{{ item.LastCallRecordDateStr }}</td>
                    <td class="text-left actions-col">
                        <a v-bind:href="'/Companies/Edit/' + item.Id" class="btn btn-success btn-xs edit-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                        <span class="btn btn-danger btn-xs delete-btn">
                            <i class="fas fa-trash"></i>
                        </span>
                    </td>
                </tr>
                <tr v-if="!isEndofList">
                    <td colspan="9">
                        <span v-on:click="loadMore()" v-bind:class="{ 'disabled': isLoading }" class="btn btn-block btn-primary text-center text-uppercase btn-sm">
                            <i class="fas fa-download"></i>
                            Загрузить еще
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" v-else>
        Нет результатов
    </div>
</div>
