@model LoginModel

@{
    ViewBag.Title = "Вход в систему";
    Layout = "_LoginLayout";
    var loginError = ViewBag.Error as string;
}

@section Styles {
}

@section Scripts {

}


<form method="post" class="form-signin">
    @if (!string.IsNullOrEmpty(loginError))
    {
        <div class="alert alert-danger" ><strong>@loginError</strong></div>
    }
    <h1 class="h3 mb-3 font-weight-normal">Вход в систему</h1>
    <label class="sr-only"></label>
    <input type="text" class="form-control" name="@(Html.NameFor(x => x.UserName))" placeholder="Логин" required autofocus>
    <label class="sr-only">Пароль</label>
    <input type="password" class="form-control" name="@(Html.NameFor(x => x.Password))" placeholder="Пароль" required>
   
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
