@using System.Globalization
@model List<ColdCallsTracker.Code.Data.ViewModels.QuoteTemplateItem>

@{
    ViewBag.Title = "Шаблоны предложений";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" />
}


@section Scripts {
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('table').DataTable({
                language: { "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json" },
                paging: false,
                "order": [[ 1, "desc" ]]
            });
        })
    </script>
}

<div class="costing-templates-page">

    <div class="row">
        <div class="col">
            <h1>Шаблоны предложений</h1>
        </div>
        <div class="col">
            <a href="/QuoteTemplates/New" class="btn btn-success btn-sm float-right mt-3">
                <i class="fas fa-plus"></i>
                Добавить шаблон предложения
            </a>
        </div>
    </div>

    <table class="table table-hover table-bordered table-sm quote-templates-table">
        <thead class="thead-dark">
            <tr>
                <th class="id">#</th>
                <th>Название</th>
                <th class="custom-design">Инд. дизайн</th>
                <th data-s-type="num-fmt" class="total">Цена</th>
                <th class="actions">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@(item.CustomDesign ? "Да" : "Нет")</td>
                    <td>@item.Total.ToString("N0",CultureInfo.InvariantCulture)</td>
                    <td>
                        <a href="/QuoteTemplates/Edit/@(item.Id)" class="btn btn-success btn-xs edit-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a onclick="window.utils.doIfConfirm(this);" href="/QuoteTemplates/Delete/@(item.Id)" class="btn btn-danger btn-xs delete-btn">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
