@model List<ColdCallsTracker.Code.Data.State>
@{
    ViewData["Title"] = "Главная";
}
<div class="row">
    <div class="col">
        <h1>Главная</h1>
        <hr />
        <ul>
            @foreach (var el in Model)
            {
                <li>@el.Name</li>
            }
        </ul>
    </div>
</div>