.companies-list-page {
    display: inline-block;
    position: relative;
    width: 100%;
}

    .companies-list-page .header-table {
        table-layout: fixed;
    }

    .companies-list-page .body-table {
        table-layout: fixed;
    }

    .companies-list-page .results-table .Id {
        width: 70px;
    }

    .companies-list-page .results-table td,
    .companies-list-page .results-table th {
        white-space: nowrap;
        overflow-x: hidden;
    }


.overflow-wrapper {
    height: calc(100vh - 216px);
    overflow-y: overlay;
    position: absolute;
    top: 113px;
    box-shadow: inset 0px 10px 6px -6px rgba(0,0,0,0.2);
}

.companies-list-page .header-table th {
    vertical-align: top;
}

.phones-wrapper {
    display: flex;
}


.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .3;
    border-radius: .2rem;
}

.buttons-actions-container {
    display: flex;
    flex-wrap: nowrap;
}

    .buttons-actions-container > span {
        width: 50%;
        margin-left: 5px;
    }

        .buttons-actions-container > span:first-of-type {
            margin-left: 0px !important;
        }


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.results-table {
    margin: 0px !important;
    padding: 0px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.data-tr .edit-btn,
.data-tr .delete-btn {
    visibility: hidden;
}

.data-tr:hover .edit-btn,
.data-tr:hover .delete-btn {
    visibility: visible !important;
}

.actions-col {
    width: 103px;
}

.data-tr td {
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    height: 24px;
    min-height: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.order-column {
    background-image: url(/images/selected.png);
}

.sorting-th {
    position: relative;
}

    .sorting-th:hover {
        opacity: 0.5;
        cursor: pointer;
    }


    .sorting-th.asc .fa-sort-up {
        opacity: 1 !important;
    }

    .sorting-th.asc .fa-sort-down {
        opacity: 0 !important;
    }

    .sorting-th.desc .fa-sort-up {
        opacity: 0 !important;
    }

    .sorting-th.desc .fa-sort-down {
        opacity: 1 !important;
    }


.fa-sort-up {
    position: absolute;
    right: 6px;
    opacity: 0.5;
    top: 18%;
}

.fa-sort-down {
    position: absolute;
    right: 6px;
    opacity: 0.5;
    top: 34%;
}

[v-cloak] {
    display: none;
}

.phone-holder {
    display: flex;
}


.phones-list {
    flex-grow: 1;
    padding-right: 19px;
}

.phoens-management {
    text-align: right;
}

.records-table {
    table-layout: fixed;
}

    .records-table .date {
        width: 150px;
    }

    .records-table .phone {
        width: 150px;
    }

.edit-phone-modal .modal {
    background-color: #0000004d !important;
}

.form-control {
    background-color: #fbfbfb !important;
}

.navbar-expand-lg {
    z-index: 9999;
}

.note-editing-area {
    height: calc(100vh - 205px) !important;
}

.modal {
    z-index: 9999999 !important;
}

.call-content {
    white-space: pre-line;
}

.records-table .phone {
    vertical-align: middle;
}

.records-table .date {
    vertical-align: middle;
}

.costing-templates-page .qty {
    width: 59px;
}

.costing-templates-page .id {
    width: 50px;
}

.costing-templates-page .unit {
    width: 105px;
}

.costing-templates-page table {
    table-layout: fixed;
}

.costing-templates-page .cost {
    width: 103px;
}

.costing-templates-page .total {
    width: 111px;
    white-space: nowrap;
}

.costing-templates-page .actions .fa-trash-alt {
    visibility: hidden;
}

.costing-templates-page .actions {
    width: 50px;
}

.costing-templates-page .category {
    width: 198px;
}

.costing-templates-page tr:hover .actions .btn {
    visibility: visible;
}

.quote-templates-table {
    table-layout: fixed;
}

    .quote-templates-table .id {
        width: 100px;
    }

    .quote-templates-table .actions {
        width: 100px;
    }

    .quote-templates-table .custom-design {
        width: 150px;
    }

    .quote-templates-table .total {
        width: 150px;
    }

.costing-templates-page .multiplier {
    width: 103px;
}

.check-uncheck-costing {
    cursor: pointer;
    vertical-align: middle !important;
    text-align: center;
}

    .check-uncheck-costing:hover {
        opacity: 0.5;
    }

.costing-description {
    overflow: hidden;
    white-space: nowrap;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.disabled-button {
    opacity: 0.5;
    pointer-events: none;
}

.with-single-multiplier {
    background-color: lightgray !important;
    cursor: not-allowed;
}

.quote-header {
    flex-grow: 1 !important;
}

.quote-header-wrapper {
    flex-grow: 1;
    cursor: pointer;
    background-color: #efeded;
    border-radius: 5px;
}

.date-changed-info {
    line-height: 16px;
    padding-right: 9px;
    padding-left: 9px;
}

.table-xs td, .table-xs th {
    padding: .1rem;
}

.form-control-xs {
    padding: .08rem .3rem;
    font-size: 0.875rem;
    line-height: .8;
    border-radius: .2rem;
}

select.form-control-xs {
    height: calc(1.35rem + 2px) !important;
}

.quote-header input {
    border: 1px solid #f7f7f7;
    font-weight: bold;
}

.add-costing-btn {
    padding: 2px;
}

.new-costing-line td {
    background-color: #cccccc;
}

.remove-costing-item {
    visibility: hidden;
}

tr:hover .remove-costing-item {
    visibility: visible;
}

    tr:hover .remove-costing-item > i {
        visibility: visible !important;
    }

.quotes-for-company thead th {
    font-weight: normal !important;
    vertical-align: top;
}

.small-description {
    font-size: 12px !important;
    line-height: 3px !important;
    color: #b8b7b7 !important;
    white-space: nowrap !important;
    margin-bottom: 6px;
}

.service-group-price {
    width: 150px;
}

.small-costing-add {
    font-size: 10px;
    line-height: 12px;
}

.select2-results__option {
    font-size: 14px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.select2-results__options {
    max-height: 500px !important;
}

.costing-template-select-cell .select2-container--default {
    width: 45px !important;
}

.costing-template-select-cell .select2-selection {
    width: 45px !important;
}

.from-date, .to-date {
    padding-left: 4px;
    padding-right: 4px;
}

.org-name-col {
    position: relative !important;
}

.companies-list-page .org-search-link {
    position: absolute;
    right: 2px;
    top: 4px;
    visibility: hidden;
}

tr:hover .org-search-link {
    visibility: visible;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}