.companies-list-page {
    display: inline-block;
    position: relative;
    width: 100%;
}

    .companies-list-page .header-table {
        table-layout: fixed;
    }

    .companies-list-page .body-table {
        table-layout: fixed;
    }

    .companies-list-page .results-table .Id {
        width: 70px;
    }

    .companies-list-page .results-table td,
    .companies-list-page .results-table th {
        white-space: nowrap;
        overflow-x: hidden;
    }


.overflow-wrapper {
    height: calc(100vh - 216px);
    overflow-y: overlay;
    position: absolute;
    top: 113px;
    box-shadow: inset 0px 10px 6px -6px rgba(0,0,0,0.2);
}

.companies-list-page .header-table th {
    vertical-align: top;
}

.phones-wrapper {
    display: flex;
}


.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.buttons-actions-container {
    display: flex;
    flex-wrap: nowrap;
}

    .buttons-actions-container > span {
        width: 50%;
        margin-left: 5px;
    }

        .buttons-actions-container > span:first-of-type {
            margin-left: 0px !important;
        }


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.results-table {
    margin: 0px !important;
    padding: 0px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.data-tr .edit-btn,
.data-tr .delete-btn {
    visibility: hidden;
}

.data-tr:hover .edit-btn,
.data-tr:hover .delete-btn {
    visibility: visible !important;
}

.actions-col {
    width: 103px;
}

.data-tr td {
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    height: 24px;
    min-height: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.order-column {
    background-image: url(/images/selected.png);
}

.sorting-th {
    position: relative;
}

    .sorting-th:hover {
        opacity: 0.5;
        cursor: pointer;
    }


    .sorting-th.asc .fa-sort-up {
        opacity: 1 !important;
    }

    .sorting-th.asc .fa-sort-down {
        opacity: 0 !important;
    }

    .sorting-th.desc .fa-sort-up {
        opacity: 0 !important;
    }

    .sorting-th.desc .fa-sort-down {
        opacity: 1 !important;
    }


.fa-sort-up {
    position: absolute;
    right: 6px;
    opacity: 0.5;
    top: 18%;
}

.fa-sort-down {
    position: absolute;
    right: 6px;
    opacity: 0.5;
    top: 34%;
}

[v-cloak] {
    display: none;
}

.phone-holder {
    display: flex;
}


.phones-list {
    flex-grow: 1;
    padding-right: 19px;
}

.phoens-management {
    text-align: right;
}

.records-table {
    table-layout: fixed;
}

    .records-table .date {
        width: 150px;
    }

    .records-table .phone {
        width: 150px;
    }

.edit-phone-modal .modal {
    background-color: #0000004d !important;
}

.form-control {
    background-color: #fbfbfb !important;
}
